[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
pymongo = "*"
python-jose = "*"
passlib = "*"
pytz = "*"
sendgrid = "*"
certifi = "*"
boto3 = "*"
"pymongo[srv]" = "*"
cmake = "*"
dlib = "*"
face-recognition = "*"

[requires]
python_version = "3.7"
